/gitignore
/.ipynb_checkpoints
/day32_datetime/birthday-wisher/main_birthday.py
/day32_datetime/quote/main_quote.py
/day33_API_sunset_satellite/main_satellite.py
/day35_Authen_EnviVar_SMS/weather.ipynb
/day36_NewsAPI
/day38_APIcredential