<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my home page</title>
</head>
<body>
    <h1>Hello!!! this is my landing page</h1>
    <ul>
        <li>topic1</li>
        <li>topic2</li>
        <li>topic3</li>
        <li>topic4</li>
    </ul>
    <img src= "https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDhvZGVlcW5kZjQyaXFodDM1NXo2dnphdjRwd3FuZW1kMjJuano2byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oriO0OEd9QIDdllqo/giphy.gif" 
    style="width: 300px; height: 200px;" >
</body>
</html>